.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 108px;
  background-color: #edf0f6;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 1300px;
  box-shadow: 0 0 5px #e9edf3;
  background: #fff;
  padding: 0 15px 30px;
  border-radius: 6px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9edf3;
}

.subheader {
  width: 100%;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;

}

.sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
}

.sub2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.sub3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.column {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  li {
    background-color: #f6f7f867;


  }

  li:nth-child(2n) {
    background-color: #ffffff00;
  }
}

.string {
  height: 95px;
  padding: 0 20px 0 40px;
  display: flex;
  align-items: center;
  gap: 60px;




}

.items {
  display: flex;
  align-items: center;
  gap: 16px;
}