.root {
    display: flex;
    align-items: center;
    height: 400px;
    width: 400px;
    border-left: 2px solid #002cfb;
    gap: 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 12px;
    opacity: 1;
    margin-bottom: 400px;
    transition: opacity 0.15s ease-in-out;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #121922;
    }


}