.root {
    display: flex;
    position: relative;
    gap: 8px;
    min-height: 84px;
    height: auto;
    width: 400px;
    border-left: 2px solid #002cfb;
    gap: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 12px 12px 20px;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.top {
    display: flex;
    margin-bottom: 4px;
}

.block {
    display: flex;
    flex-direction: column;

    &_kc {
        background-color: #f8fafd;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 12px;
        color: black;
        margin-top: 12px;

    }
}

.first {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #121922;
}

.icon {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.second {
    color: #71869d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.close {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 12px;
    transition: all 0.15s;

    &:hover {
        opacity: 0.8;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.actions {
    width: 700px;
    overflow: hidden;
    display: flex;
    height: fit-content;
    max-height: 0;
    opacity: 0;
    transition: all 0.35s ease-in-out;

    &_open {
        opacity: 1;
        max-height: 300px;
    }
}

.button {
    width: fit-content;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 16px;
    color: #f8fafd;
    background-color: #002CFB;
    transition: all 0.15s;
    cursor: pointer;

    &:hover {
        background-color: #0024cb;
    }

    &_second {
        background-color: rgba(255, 255, 255, 0);
        color: #0024cb;

        &:hover {
            background-color: #0025cb00;
            color: #0024cb;
        }
    }

    &:disabled {
        background-color: #f1f4f9;
        color: #8e9aa8;
        pointer-events: none;
    }

}

.slider {
    width: 320px;
    overflow: hidden;
    margin-top: 12px;

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    transition: all 0.25s ease-in-out;

    span {
        height: 16px;
        color: #71869d;
        align-self: flex-start;
    }
}

.slide {
    flex-shrink: 0;
    width: 320px;
    min-height: 140px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;
    transition: all 0.15s;

    &_hidden {
        opacity: 0;
    }
}

/* .second {
    width: 320px;
    flex-shrink: 0;
} */

.buttons {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

