.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 108px;
  background-color: #edf0f6;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 1300px;
  box-shadow: 0 0 5px #e9edf3;
  background: #fff;
  padding: 0 15px 30px;
  border-radius: 6px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9edf3;
}

.subheader {
  height: 45px;

}


.column {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.string {
  height: 45px;
  padding: 0 20px 0 40px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.string2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
  align-items: center;
  gap: 16px;
}