

.noscroll {

    div {
        overflow: hidden !important;
        max-width: 100% !important;
        gap: 0 !important;
    }

    .ScrollbarsCustom-TrackY {
        display: none !important;
    }
}

