.multi {
    display: flex;
    position: relative;

    &_2 {
        border-radius: 4px;
        overflow: hidden;

        p {
            margin: 0;
        }

    }
}


.button {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #002CFB;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    transition: all 0.15s;
    overflow: hidden;

    &:hover {
        background-color: #0024cb;
    }

    p {

        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
        color: #FFF;
        text-wrap: nowrap;
        transition: all 0.25s ease-in-out;
    }



    &_hidden {
        margin-left: -6px;
        overflow: hidden;
        gap: 0;
        flex-shrink: 0;
        width: 50px;
        border-radius: 4px;

        p {
            transform: translateX(-100px);
            opacity: 0;
        }

    }

    &_menu {
        width: 46px;
        flex-shrink: 0;
        border-radius: 0 4px 4px 0;
        background-color: #0028E5;
        transition: all 0.15s, width 0.25s ease-in-out, opacity 0.25s ease-in-out;
        opacity: 1;

        svg {
            transition: all 0.25s ease-in-out;
        }

        &:hover {
            background-color: #0024cb;
        }

        &_open {

            svg {
                transform: rotate(180deg);
            }

        }

        &_hidden {
            overflow: hidden;
            opacity: 0;
            width: 0;

        }
    }

    &_red {
        height: 48px;
        background-color: #E10D0D;
        border-radius: 4px;
        transition: all 0.15s;

        &:hover {
            background-color: #cb0c0c;
        }
    }
}