.root {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 90px;
    flex-shrink: 0;
}

.blur {
    width: 100%;
    height: 44px;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(9, 19, 54, 0.00) 21%, #091336 70.5%);
}

.container {
    padding: 0 12px 20px;
    background-color: #091336;
}

.subscription {
    height: 60px;
}

.button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #002CFB;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
        color: #FFF;
    }

    &_menu {
        width: 46px;
        flex-shrink: 0;
        border-radius: 0 4px 4px 0;
        background-color: #0028E5;
    }

    &_red {
        height: 48px;
        background-color: #E10D0D;
        border-radius: 4px;
    }
}

.multi {
    display: flex;
}