.root {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 90px;
    flex-shrink: 0;
}

.blur {
    width: 100%;
    height: 44px;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(9, 19, 54, 0.00) 21%, #091336 70.5%);
}

.container {
    padding: 0 12px 20px;
    background-color: #091336;
    transition: all 0.25s ease-in-out;

    &_hidden {
        margin-left: -200px;
        opacity: 0;
    }
}

.block {
    position: relative;
    height: 60px;
    top: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
    overflow: hidden;

    &_hidden {
        height: 0;
        opacity: 0;
        /*   margin-left: -200px; */
    }

    &_hidden2 {
      
        opacity: 0;
        transform: translateX(-240px);
       
    }

    p {
        text-wrap: nowrap;
    }
}

.subscription {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
    display: flex;
    gap: 6px;
    cursor: pointer;

    svg {
        margin-top: 4px;
    }

    &_2 {
        &:hover {
            transition: all 0.15s;
            opacity: 0.8;
        }

    }

    &_vis {
        opacity: 1;
        visibility: visible;
    }

}

.button {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #002CFB;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    transition: all 0.15s;
    overflow: hidden;

    &:hover {
        background-color: #0024cb;
    }

    p {

        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
        color: #FFF;
        text-wrap: nowrap;
        transition: all 0.25s ease-in-out;
    }



    &_hidden {
        margin-left: -6px;
        overflow: hidden;
        gap: 0;
        flex-shrink: 0;
        width: 50px;
        border-radius: 4px;

        p {
            transform: translateX(-100px);
            opacity: 0;
        }

    }

    &_menu {
        width: 46px;
        flex-shrink: 0;
        border-radius: 0 4px 4px 0;
        background-color: #0028E5;
        transition: all 0.15s, width 0.25s ease-in-out, opacity 0.25s ease-in-out;
        opacity: 1;

        svg {
            transition: all 0.25s ease-in-out;
        }

        &:hover {
            background-color: #0024cb;
        }

        &_open {

            svg {
                transform: rotate(180deg);
            }

        }

        &_hidden {
            overflow: hidden;
            opacity: 0;
            width: 0;

        }
    }

    &_red {
        height: 48px;
        background-color: #E10D0D;
        border-radius: 4px;
        transition: all 0.15s;

        &:hover {
            background-color: #cb0c0c;
        }
    }
}

.add_text {

    width: 102px;
    margin-left: 22px;

    transition: all 0.25s ease-in-out;

}

.icon {
    position: absolute;
    left: 28px;
    display: flex;
    align-items: center;
    transition: all 0.25s ease-in-out;

    &_hidden {
        left: 18px;
    }
}



.multi {
    display: flex;
    position: relative;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.menu {
    position: absolute;
    bottom: 56px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    display: flex;
    flex-direction: column;
    max-height: 0;
    /*  opacity: 0; */
    transition: all 0.25s ease-in-out;

    &_open {
        opacity: 1;
        /*  max-height: 284px; */
        max-height: 84px;
    }

    li {
        height: 40px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        transition: all 0.15s;
        cursor: pointer;
        flex-shrink: 0;

        &:hover {
            background-color: #F8FAFD;
        }
    }

    div {
        flex-shrink: 0;
        width: 100%;
        height: 2px;
        background-color: #ECF2FC;
    }
}