.video {
    min-width: 100%;
    height: auto;
    width: auto;
    min-height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: #94a233;
    background-size: cover;
}