.field {
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    background-color: #ffffff;
    display: flex;
    height: 40px;
    overflow: hidden;

    &_disabled {
        background-color: rgba(212, 223, 243, 0.17);
        color: #121922;
    }

    &_focus {
        border-color: #002CFB;
    }

    &_error {
        border-color: #E10D0D;
    }
}

.input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    transition: all 0.15s;



    &::placeholder {
        color: #71869D;
    }


}

.error {
    height: 0;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.25s ease-in-out;

    &_vis {
        height: 20px;
        opacity: 1;
        visibility: visible;
    }

    p {
        color: #E10D0D;
        font-size: 14px;
        line-height: 14px;
        margin: 0;
        padding: 0;
    }
}

.button {
    background: none;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &_hidden {
        cursor: default;
        opacity: 0;
        pointer-events: none;
    }
}