.root {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-bottom: 12px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    height: 32px;
}

.day {
    width: 80px;
    color: #ADBFDF;
}

.summ {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 100px;
    width: fit-content;
}

.count {
    display: flex;
    align-items: center;
    gap: 6px;
}