.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 108px;
  background-color: #edf0f6;
  z-index: 5;
  position: fixed;
  left: -20px;
  top: -60px;
  width: calc(100vw + 20px);
  height: calc(100% + 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 1300px;
  box-shadow: 0 0 5px #e9edf3;
  background: #fff;
  padding: 0 15px 30px;
  border-radius: 6px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9edf3;
}

.container {
  height: 404px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}

.graph {
  width: 860px;
  height: 320px;
  position: relative;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 24px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-right: 24px;
}

.indicator {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}


.items {
  display: flex;
  align-items: center;
  gap: 16px;
}