.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 108px;
  background-color: #edf0f6;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 1300px;
  box-shadow: 0 0 5px #e9edf3;
  background: #fff;
  padding: 0 15px 30px;
  border-radius: 6px;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9edf3;
}

.container {
  height: 404px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}

.graph {
  width: 860px;
  height: 320px;
  position: relative;
  border-radius: 4px;
  margin-top: 12px;
  margin-left: 24px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-right: 24px;
}

.indicator {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}


.items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search {
  height: 40px;
  width: 100%;
  margin-right: 4px;
  position: relative;
}

.window {
  display: flex;
  width: 100%;
  gap: 16px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  @media(max-width: 1680px) {
    gap: 8px;
  }
}

.workers {
  background-color: #F8FAFD;
  width: calc(50% - 8px);
  height: 100%;
  box-sizing: border-box;
  padding: 16px 16px 12px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container_map {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.map {
  height: 313px;
  width: 100%;
  position: relative;
}

.early {
  width: 100%;
  border-radius: 8px;
  padding: 0 8px;
  display: grid;
  align-items: center;
  grid-template-columns: 250px 122px 1fr;
  grid-template-rows: 56px;
  position: relative;
  cursor: pointer;

  &_bg {
    background-color: #f1f4f9;
  }

  @media(max-width: 1680px) {
    grid-template-columns: 226px 86px 1fr;

  }
}


.maininfo {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
  width: 100%;
  min-width: 200px;


  @media(max-width: 1680px) {
    gap: 8px;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.name {
  width: 94%;
  position: relative;
  padding-right: 4px;
  box-sizing: border-box;
}

.progress {
  position: relative;
  display: flex;
  gap: 2px;


  @media(max-width: 1680px) {
    margin-left: 2px;
    width: fit-content;
  }
}

.step {
  height: 6px;
  width: 24px;
  border-radius: 100px;

  @media(max-width: 1680px) {
    width: 18px;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}