.root {
    position: relative;
}

.field {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    padding: 12px;
    cursor: pointer;
    transition: all 0.15s;

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        border-color: #FFF;

        svg path {
            fill: #FFF;
            fill-opacity: 1;
        }
    }

    &_open {
        border: 1px solid #FFF;

        svg path {
            fill: #FFF;
        }

        &:hover {
            border-color: #FFF;

            svg path {
                fill: #FFF;
                fill-opacity: 1;
            }
        }
    }
}

.arrow {
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;

    &_up {
        transform: rotate(180deg);
    }
}

.list {
    position: absolute;
    overflow: hidden;
    top: 48px;
    width: 100%;
    max-height: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ffffff00;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 3;
    background: #091336;

    &_open {
        border: 1px solid #FFF;
        max-height: 142px;
        /* min-height: 40px; */
    }
}

.item {
    width: 100%;
    height: 44px;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.15s;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #71869D;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
    }
}