.root {
    position: relative;
}

.field {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid rgba(216, 228, 251, 0.55);
    padding: 12px;
    cursor: pointer;
    transition: all 0.15s;


    p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        border-color: #FFF;

        svg path {
            fill: #FFF;
            fill-opacity: 1;
        }
    }

    &_open {
        border: 1px solid #FFF;

        svg path {
            fill: #FFF;
        }

        &:hover {
            border-color: #FFF;

            svg path {
                fill: #FFF;
                fill-opacity: 1;
            }
        }
    }
}

.arrow {
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;

    &_up {
        transform: rotate(180deg);
    }
}

.list {
    position: absolute;
    overflow: hidden;
    top: 48px;
    width: 100%;
    max-height: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ffffff00;

    transition: all 0.2s;
    z-index: 4;
    background: #091336;

    &_open {
        border: 1px solid #FFF;
        max-height: 142px;
        /* min-height: 40px; */
    }
}

.item {
    height: 44px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.15s;
    overflow: hidden;
    cursor: pointer;
    position: relative;


    &_2 {
        height: 40px;
    }

    p {
        width: 98%;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #71869D;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
    }

}

.block {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator {
    margin: 0 12px;
    width: calc(100% - 24px);
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    flex-shrink: 0;
}

.done {
    position: relative;
    height: 100%;
    width: 16px;
    display: flex;
    align-items: flex-start;
    padding-top: 6px;
    transform: scale(0);
    /*   transition: all 0.15s; */

    &_2 {
        width: 16px;
        height: 100%;
        position: relative;
        transform: scale(0);
        display: flex;
        align-items: center;
        /*      transition: all 0.15s; */

        svg {
            transition: all 0.15s;
            position: absolute;
            opacity: 0;
        }
    }

    svg {
        transition: all 0.15s;
        position: absolute;
        opacity: 0;
    }

    &_active {
        transform: scale(1);

        svg {
            opacity: 1;
        }
    }
}

.city {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #ADBFDF;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.loader {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.15s ease-in-out;
    width: 16px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    div {
        flex-shrink: 0;
    }

    &_active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}