.notification {
  display: flex;
  align-items: center;

  gap: 6px;
  height: 48px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 12px 8px 8px;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;

  p {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #121922;
  }
}
.notification_error {
  width: 500px;
}

.notification_success {
  width: 500px;
}

.line {
  height: 100%;
  border-radius: 24px;
  width: 3px;
  background-color: #002cfb;
  flex-shrink: 0;
  margin-right: 8px;
}

.lineError {
  background-color: #ff2d2d !important;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-shrink: 0;
  // path {
  //   fill: #002cfb;
  // }
}

.close {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.15s;
  background: transparent;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}
