/* --- сброс стандартной оболочки react-toastify --- */
.Toastify__toast-container {
  padding: 0 !important;
}

.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 0 10px 0 !important;
  width: 500px !important;
  min-height: unset !important;
}

.Toastify__toast-body {
  padding: 0 !important;
  margin: 0 !important;
  display: block !important;
}
