.root {
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 390px;
    padding: 20px;
    color: #fff;
    background: #091336;
    z-index: 23;
    top: 0;
    left: -154px;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_2 {
        left: -340px;
    }

    &_open {
        left: 250px;
    }

    &_open2 {
        left: 64px;
    }

}


.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
    transition: all 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;

    &_open {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.scroll {
    height: 100%;
    width: calc(100% + 20px) !important;
    padding-bottom: -50px !important;

}

.workers {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 350px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.name {
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &_2 {
        border: none;
        margin-top: auto;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    a {
        height: 40px;
        flex-shrink: 0;
        padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.15s;

        p {
            color: #ADBFDF;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0.15px;
            transition: all 0.15s;
        }

        svg path {
            transition: all 0.15s;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.10);

            p {
                color: #fff;
            }

            svg path {
                fill: #fff;
            }
        }
    }
}

.link_active {
    background-color: rgba(255, 255, 255, 0.10);

    p {
        color: #fff !important;
    }

    svg path {
        fill: #fff;
    }
}

.button {
    height: 40px;
    flex-shrink: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.15s;

    p {
        color: #ADBFDF;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
        transition: all 0.15s;
    }

    svg path {
        transition: all 0.15s;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);

        p {
            color: #fff;
        }

        svg path {
            fill: #fff;
        }
    }
}

.logout {
    height: 40px;
    border-radius: 4px;
    flex-shrink: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.15s;

    p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
    }

    &:hover {
        background-color: rgba(225, 13, 13, 0.34);
    }

    &_margin {
        margin-top: auto;
    }
}

.position {

    span {
        color: #ADBFDF;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.worker {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 40px;
    flex-shrink: 0;
    padding: 6px 10px;
    border-radius: 4px;
    position: relative;
    transition: all 0.15s;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    sup {
        opacity: 1;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.60);
        margin-left: 6px;
        position: relative;
        top: 0;
        transition: all 0.15s;
    }

    svg {
        opacity: 0;
        margin-left: auto;
        transition: all 0.15s;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);

        svg {
            opacity: 1;
        }
    }
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 25px;
        height: 25px;
    }
}

.modal {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #09133623;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;

    &_open {
        visibility: visible;
        opacity: 1;
    }
}

.container {
    width: 560px;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 32, 51, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


    p {
        margin-top: 12px;
        font-size: 16px;
        line-height: 20px;
    }

    a {
        width: 449px;
        color: #002CFB;
        transition: all 0.15s ease-in-out;

        &:hover {
            color: #0024CB;
        }
    }

    span {
        color: #ADBFDF;
    }
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
        opacity: 0.6;
    }
}


.loader {
    position: absolute;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.15s ease-in-out;
    width: 16px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    div {
        flex-shrink: 0;
    }

    &_active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}