.root {
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 390px;
    padding: 20px;
    color: #fff;
    background: #091336;
    z-index: 23;
    top: 0;
    left: -154px;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_2 {
        left: -340px;
    }

    &_open {
        left: 250px;
    }

    &_open2 {
        left: 64px;
    }

}


.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
    transition: all 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;

    &_open {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.scroll {
    height: 100%;
    width: calc(100% + 20px) !important;
    padding-bottom: -50px !important;

}

.workers {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 18px;
    cursor: pointer;


}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.name {
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 12px 0;
    display: flex;
    flex-direction: column;

    a {
        height: 40px;
        flex-shrink: 0;
        padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        border-radius: 4px;
        transition: all 0.15s;

        p {
            color: #ADBFDF;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0.15px;
            transition: all 0.15s;
        }

        svg path {
            transition: all 0.15s;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.10);

            p {
                color: #fff;
            }

            svg path {
                fill: #fff;
            }
        }
    }
}

.logout {
    height: 40px;
    border-radius: 4px;
    flex-shrink: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.15s;

    p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.15px;
    }

    &:hover {
        background-color: rgba(225, 13, 13, 0.34);
    }
}

.position {

    span {
        color: #ADBFDF;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.worker {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 40px;
    flex-shrink: 0;
    padding: 6px 10px;
    border-radius: 4px;
    transition: all 0.15s;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }

    sup {
        opacity: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.60);
        margin-left: 6px;
        position: relative;
        top: -4px;
        transition: all 0.15s;
    }

    svg {
        opacity: 0;
        margin-left: auto;
        transition: all 0.15s;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);

        svg {
            opacity: 1;
        }

        sup {
            opacity: 1;
        }
    }
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 25px;
        height: 25px;
    }
}