.window {
    width: calc(100%);
    overflow: hidden;
    height: 100vh;
    position: relative;
    opacity: 0;
    transition: all 0.15s;

    &_anim {
        opacity: 1;
    }
}

.iframe {
    position: absolute;
    left: -242px;
    top: -65px;
    width: calc(100% + 240px);
    height: calc(100% + 64px);
    overflow: hidden;
    border: none;

    &_hidden {
         left: -72px;
        width: calc(100% + 72px); 
    }
}

.sceleton {
    opacity: 1;
    visibility: visible;
    transition: all 0.15s ease-in-out;

    &_hidden {
        opacity: 0;
        visibility: hidden;
    }
}