.window {
    width: calc(100% + 240px);
    height: 100vh;
    position: relative;
    opacity: 0;
    transition: all 0.15s;

    &_anim {
        opacity: 1;
    }
}

.iframe {
    position: absolute;
    left: -242px;
    top: 0;
    width: 100%;
    height: calc(100%);
    overflow: hidden;
}