

.main {
    display: flex;
    width: 100%;
    min-width: 1400px;
    height: 100%;
}


.container {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    max-height: 100vh;
}
