.root {
    position: fixed;
    left: 45%;
    top: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.notification {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 36px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.10);
    padding: 6px 12px 6px 6px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #121922;
    }

    &_anim {
        visibility: visible;
        opacity: 1;
    }
}

.line {
    height: 100%;
    border-radius: 24px;
    width: 3px;
    background-color: #002CFB;
}

.close {
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        opacity: 0.8;
    }
}