.root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;
    z-index: 2;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    padding: 24px;
}