.tabs {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    left: 40px;
    top: 38px;
}

.tab {
    height: 40px;
    padding-top: 6px;
    box-sizing: border-box;
    border-bottom: 2px solid #002efb00;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #71869D;
    transition: all 0.15s;
    display: flex;

    sup {
        max-width: 0;
        width: fit-content;
        color: #71869D;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.064px;
        opacity: 0;
        transition: all 0.15s;
    }

    &_active {
        border-bottom: 2px solid #002CFB;

        sup {
           max-width: 80px;
            opacity: 1;
        }

        color: #121922;
    }
}