.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 40px;
    top: 38px;
    width: calc(100% - 80px);
    z-index: 10;
    padding-bottom: 10px;
    background-color: #f1f4f9;
}

.tabs {
    display: flex;
    gap: 20px;
    align-items: center;

    z-index: 0;
}

.tab {
    height: 40px;
    padding-top: 6px;
    box-sizing: border-box;
    border-bottom: 2px solid #002efb00;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #71869D;
    transition: all 0.15s;
    display: flex;

    sup {
        max-width: 0;
        width: fit-content;
        color: #71869D;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.064px;
        opacity: 0;
        transition: all 0.15s;
    }

    &_active {
        border-bottom: 2px solid #002CFB;

        sup {
            max-width: 80px;
            opacity: 1;
        }

        color: #121922;
    }
}

.add {
    padding: 0 20px;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #002CFB;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.056px;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
        background-color: #0024cb;
    }
}