.root {
    position: relative;
    transform: translateX(-250px);
    transition: all 0.3s ease-in-out;

    &_anim {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
    height: 100vh;
    max-height: 100vh;
    background-color: #091336;
    padding: 20px 0;
    flex-shrink: 0;
    box-sizing: border-box;
    z-index: 26;
    position: relative;
    transition: all 0.25s ease-in-out;
    overflow: hidden;


    &_hidden {
        width: 64px;
    }
}

.overlay {
    position: absolute;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
    border-right: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(9, 19, 54, 0.50);
    opacity: 0;
    visibility: hidden;

    &_open {
        visibility: visible;
        opacity: 1;
    }

}

.logo {
    max-height: 42px;
    width: auto;
    margin-right: 16px;
    transition: all 0.25s ease-in-out;

    &_small {
        position: absolute;
        top: 12px;
        right: 8px;
        transition: all 0.25s ease-in-out;
    }

    &_hidden {
        transform: translateX(-100px);
        opacity: 0;
    }
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    transition: all 0.15s ease-in-out;

    &_hidden {
        opacity: 0;
    }
}

.profile {
    position: relative;
    overflow: hidden;
    width: 1fr;
    min-height: 214px;
    margin: 12px 12px 12px 0;
    padding: 12px 8px 12px 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.25s ease-in-out;

    &_hidden {
        margin-right: 0;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

    &_small {
        position: absolute;
        top: 0;
        right: -64px;
        height: 100%;
        width: 64px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.25s ease-in-out;

        &_vis {
            opacity: 1;
            right: 0;
        }
    }
}

.avatar {
    position: relative;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    transition: all 0.25s ease-in-out;

    img {
        height: 101%;
        width: auto;
        background-size: contain;
    }

    &_hidden {
        /*      width: 0;
        height: 0; */
        opacity: 0;
    }
}

.block {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #ECECEC;
    transition: all 0.25s ease-in-out;

    &_small {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    &_hidden {
        /*  transform: scale(0); */
        opacity: 0;
    }
}

.name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.company {
    width: 210px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    min-height: 18px;
    max-height: 0;
    height: max-content;

    opacity: 0;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        max-height: 36px;
    }
}

.date {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #A6B1BC;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    transition: all 0.25s ease-in-out;

    &_hidden {
        /*   transform: scale(0); */
        opacity: 0;
    }
}

.button {
    &_pro {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 100%;
        height: 40px;
        background-color: #C4CEFF;
        border-radius: 4px;
        color: #002CFB;
        transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
        cursor: pointer;

        p {
            font-size: 14px !important;
            font-weight: 500;
            line-height: 140%;
            text-wrap: nowrap;
            transition: all 0.15s ease-in-out;
        }

        svg path {
            transition: all 0.15s ease-in-out;
        }

        &:hover {
            background-color: #002CFB;

            p {
                color: #FFF;
            }

            svg path {
                stroke: #FFF;
            }
        }

        &_hidden {
            opacity: 0;
            transform: translateX(-200px);
        }
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 368px);
    flex-shrink: 0;
    overflow: hidden;
    min-width: 100%;
    margin: 0;
    position: relative;
    transition: all 0.15s ease-in-out;

    &_maxheight2 {
        max-height: calc(100% - 438px);
    }

    &_maxheight3 {
        max-height: calc(100% - 440px);
    }

    &_maxheight4 {
        max-height: calc(100% - 408px);
    }

    &_hidden {
        opacity: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
    overflow: hidden;
    /*  padding-bottom: 52px; */
}

.link {
    width: 238px !important;
    flex-shrink: 0;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 8px 8px 20px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.56);
    border-radius: 0px 4px 4px 0px;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    p {
        text-wrap: nowrap;
        z-index: 2;
    }

    svg {
        flex-shrink: 0;
        z-index: 2;
    }

    svg path {
        transition: all 0.15s ease-in-out;
    }

    &:hover {
        background-color: #222B4A;
        color: #FFF;

        svg path {
            fill: #FFF;
        }

        .arrow {
            opacity: 1;
        }
    }

    &_active {
        background-color: #222B4A;
        color: #FFF;

        .arrow {
            opacity: 1;
        }

        svg path {
            fill: #FFF;
            fill-opacity: 1;
        }
    }

    &_list {
        position: relative;

    }

    &_sub {
        padding-left: 50px;
        flex-shrink: 0;
    }

    &_hidden {
        width: 100%;
        margin-right: 0;
    }

    &_events {
        position: relative;
        transition: all 0.15s ease-in-out;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            border-left: 4px solid #FFD500;
            background: linear-gradient(90deg, #3E412A 3%, #091336 19%);
            transition: all 0.2s ease-in-out;
        }


        &::after {
            content: "";
            display: block;
            width: 100%;
            opacity: 0;
            height: 100%;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            border-left: 4px solid #FFD500;
            background: #2F342E;
            transition: all 0.2s ease-in-out;
        }

        &:hover::after {
            opacity: 0.8;
        }

        &_hidden {
            &::before {
                opacity: 0;
            }

            &:hover::after {
                opacity: 0;
            }
        }

        &_active {
            &::after {
                opacity: 0.8;
            }
        }
    }

    &_disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.arrow {
    opacity: 0;
    margin-left: auto;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    svg {
        flex-shrink: 0;
    }

    &_up {
        opacity: 1;
        transform: rotate(180deg);
    }

    &_right {
        opacity: 0;
        width: 0;
    }
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    gap: 4px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &_open {
        visibility: visible;
        opacity: 1;
    }
}

.button_hide {
    position: absolute;
    z-index: 27;
    top: 28px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002CFB;
    opacity: 0;
    cursor: pointer;
    transition: transform 0.25s ease-in-out, right 0.25s ease-in-out, opacity 0.2s;

    &_active {
        right: 18px;
        transform: rotate(180deg);
    }

    &_vis {
        opacity: 1;
    }

    &:hover {
        background-color: #0024CB;
    }

}

.point {
    text-wrap: nowrap;
    overflow: hidden;
    transition: all 0.25s;

    &_hidden {
        opacity: 0;
    }

}

.area {
    height: 100%;
    width: 100%;
    flex-shrink: 50;
    min-height: 52px;
}

.bage {
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    top: 98px;
    left: 95px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;

    &_vis {
        opacity: 1;
        visibility: visible;
    }
}